@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=David+Libre:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    animation: fadeIn 3.5s ease;
}
@keyframes fadeIn {
from{
    opacity: 0;
}    
to{
    opacity: 1;
}
}
:root{
    --text-color:#101A24;
    --button-colo:#ea6d27;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.hero-positions-image1{
    position: absolute;
    left: 0;
    top: 0;
    
}
.hero-positions-image2{
    position: absolute;
    left: 0;
    top: 0;
}
.hero-positions-image3{
    position: absolute;
    left: 0;
    top: 0;
}
.hero-positions-image4{
    position: absolute;
    left: 80px;
    top: 15%;
}
.hero-positions-image5{
    position: absolute;
    left: 40%;
    top: 15%;
}
.hero-positions-image6{
    position: absolute;
    left: 75%;
    top: 11%;
}
.hero-positions-image7{
    position: absolute;
    left: 80%;
    top: 55%;
}
.max-length{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
}
.max-length nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.menu-card{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    
}
.menu-card ul { 
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
.menu-card ul a{ 
    text-decoration: none;
    font-width: 400;
    font-size: 1rem;
    color: var(--text-color);
    
}
.menu-card button{ 
    width: 167px;
    height: 64px;
    color: white;
    border: none;
    font-size: 20px;
    font-width: 500;
    border-radius: 10px 0 10px 0;
    background-color: var(--button-colo);
    padding: 10px;

    
}
.hamburger{
    display: none;
}
.hero-text-card{
    display: flex;
    flex-direction: column;
   min-height: 100vh;
    justify-content: center;
    gap: 70px;
}
.hero-text-card h1{
   font-width: 700;
   font-size: 70px;
   color: var(--text-color);
}
.hero-card-card-p{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-card-card-p p{
   font-width: 400;
   font-size: 1rempx;
   color: #5c6574;
}
.hero-card-card-button{
    display: flex;
    gap: 20px;
}
.Black-button{
    background-color: var(--text-color);
    color: white;
    font-width: 500;
    font-size: 20px;
    border: none;
    border-radius: 10px 0 10px 0;
    width: 120px;
    height: 54px;
}
.Book-button{
    background-color: var(--button-colo);
    color: white;
    font-width: 500;
    font-size: 20px;
    border: none;
    border-radius: 10px 0 10px 0;
    width: 167px;
    height: 54px;
}
.social{
    display: flex;
    gap: 10px;
}
.social div{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 45px;
   width: 45px;
   border: 2px solid var(--text-color); 
   border-radius: 50%;
}
.hero-card-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.hero-card-container-image{
    position: relative;
    z-index: 1;
}
.hero-card-container-image small{
    position: absolute;
    bottom: 0;
    left: -150px;

}
.special-dishes{
  background-color: #f3f3f4; 
   
}
.welcome-section{
  background-color: #f3f3f4;  
}
.welcome-dish{
   position: relative; 
}
.welcome-dish1{
   position: absolute;
   left: 0; 
   top: 60px;
}
.welcome-dish2{
   position: absolute;
   left: 50px; 
   top: 270px;
}
.welcome-dish3{
   position: absolute;
   right: 0px; 
   top: 40px;
}
.welcome-dish2 img{
  width: 150px;
}
.welcome-dish3 img{
 width: 100px;
}
.welcome-special-dishes-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.special-background1{
    position: absolute;
    right: 890px;
    bottom: 250px;
   transform: rotate(60deg);
}
.special-background2{
    position: absolute;
    left: 500px;
    top: 150px;
}
.special-background3{
    position: absolute;
    right: 800px;
    bottom: 200px;
}
.special-background4{
    position: absolute;
    right: 0;
    bottom: 0;
}
.experts-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.experts-section-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.experts-section-card-sub1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.experts-section-card-sub1 h1{
    font-size: 60px;
    color: var(--text-color);
    font-width: 700;
}
.experts-section-card-sub1 p{
    font-width: 400;
    font-size: 1rem;
    color:#5c6574;
}
.experts-section-flex-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.experts-section-flex-containersub1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experts-section-flex-containersubi{
    display: flex;
    gap: 10px;
}
.experts-section-flex-containersubi small{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 24px;
   width: 24px;
   flex-shrink: 0;
   border-radius: 50%;
   background-color: var(--button-colo); 
}
.experts-section-flex-containersubi p{
   font-size: 15px;
   color:#5c6574;
}
.chef-position1{
    position: absolute;
    top: 50px;
    
}
.chef-position2{
    position: absolute;
    left: 200px;
    top: 400px;}

.happy-customer{
    background-color: #f3f3f4; 
    position: relative;
}
.happy-customer-card{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding-bottom: 150px;
}
.happy-customer-card h1{
   font-size: 60px;
   color: var(--text-color);
   padding: 20px;
}
.happy-customer-card p{
   font-size: 1rem;
   color: #5c6574;
}
h1{
    font-family: "David Libre", serif;
    font-weight: 700;
}
.brain-position{
    position: absolute;
    left: 0;
    top: 0;
}
.happy-customer-card-grid{
    display: grid;
    overflow-x: scroll;
    padding: 60px;
    grid-template-columns: repeat(6, 1fr);
    scrollbar-width: none;
    gap: 50px;
}
.happy-customer-card-sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 50px 0px;
    /* overflow-x: scroll; */
    
    padding:80px 30px 30px 30px;
    position: relative;
    width: 540px;
}
.personalme img{
    border-radius: 50%;
    object-fit: cover;
}
.happy-customer-card-sub-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    right: 50%;
}
.carosell{
display: flex;
justify-content: center;
gap: 20px;

}
.caroselli{
height: 7px;
width: 7px;
border-radius: 50%;
background-color: var(--text-color);

}
.carosellii{
background-color: var(--button-colo);
height: 7px;
width: 7px;
border-radius: 50%;
}
.carosellii{
background-color: var(--button-colo);
height: 7px;
width: 7px;
border-radius: 50%;
}
.caroselliii{
background-color: var(--text-color);
height: 7px;
width: 7px;
border-radius: 50%;
}
.caroselliv{
background-color: var(--text-color);
height: 7px;
width: 7px;
border-radius: 50%;
}
.carosellv{
background-color: var(--text-color);
height: 7px;
width: 7px;
border-radius: 50%;
}
.carosellvi{
background-color: var(--text-color);
height: 7px;
width: 7px;
border-radius: 50%;
}
.form-card{
  padding: 80px 0;  
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(assets/eatarybg.png);
  gap: 40px;
  border-radius: 30px;
  align-items: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: -100px;
  
}
.feedeback{
    position: relative;
}
.form-card h1{
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.form-card form{
 display: flex;
  padding: 20px;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  width: 80%;
  gap: 20px;
}
.form-card form input{
    outline: none;
    flex: 1;
    border: none;
}
.form-card form button{
   color: white;
   border: none;
   background-color: var(--button-colo);
   border-radius: 10px;
   width: 150px;
   height: 50px;
}
footer{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footers-card1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;


}
.footers-card1 p{
    color: #5c6574;
    font-width: 400;
    font-size: 12px;

}
.footers-card1 ul{
    color: #5c6574;
    font-width: 700;
    font-size: 12px;
    list-style: none;

}
.footers-card1 ul li a{
    color: #5c6574;
    text-decoration: none;
 

}
.footers-card1 h2{
    color: var(--text-color);
    font-size: 1rem;

}
.footer-last{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #5c6574;
    font-width: 400;
    font-size: 12px;
}
@media screen and (max-width: 1200px) {
 .hero-text-card{
        gap: 50px;
}
.hero-text-card h1{
        font-width: 700;
        font-size: 50px;
        line-height: 100%;
     }
.max-length{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 20px;
    }
    
.hero-card-container-image1 img{
        width: 416px;
    }
.hero-card-container-image small img{
        width: 264px;
        height: 263px;
        object-fit: cover;
    }
.hero-card-container-image small {
        left: -100px;
    }

}
.special-dishes-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
  
}
.special-dishes-position1{
    position: absolute;
    left: 10%;
    top: 0;

}
.special-dishes-position2{
    position: absolute;
    right: 10%;
    top: 0;
}
.special-dishes-position3{
    position: absolute;
    left: 20%;
    bottom: 0;
    

}
.special-dishes-position4{
    position: absolute;
    right: 40%;
    bottom: 0%;

}
.special-dishes-position5{
    position: absolute;
    right: 20%;
    bottom: 0;
}
.special-dishes-position6{
    position: absolute;
    right: 0;
    bottom: 0;
}
.special-dishes-card h1{
    font-width: 700;
    font-size: 60px;
    color: var(--text-color);
}
.special-dishes-card p{
    font-width: 400;
    font-size: 1rem;
    color: var(--text-color);
}
.SpecialDishes{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(265px, 1fr));
    gap: 5px;
    width: 100%;
    place-items: center;
}
.SpecialDishes-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SpecialDishes-active{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: white;
    padding: 150px 20px 70px 20px;
    border-radius: 50px 0;
}
.SpecialDishes-noneactive{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border: 1px solid white;    
    padding: 150px 20px 70px 20px;
    border-radius: 50px 0;
}
.SpecialDishes-card h2{
  font-width: 700;
  font-family: 20px;
  color: var(--text-color);

}
.SpecialDishes-image{
position: relative;
margin-bottom: -40px;
}
.SpecialDishes-image p{
position: absolute;
height: 54px;
width: 54px;
border-radius: 50%;
display: flex;
align-items: center;
color: white;
justify-content: center;
background-color: var(--text-color);
right: 0px;
top: 30px;
}
@media screen and (max-width: 800px) {
.hero-positions-image5{
        display: none;
    }
.hero-positions-image6{
        display: none;
    }
.hero-positions-image7{
        position: absolute;
        left: 20%;
        top: 50%;
    }
.hero-positions-image4{
       display: none;
        left: 40px;
        top: 20%;
    }
.hero-positions-image1{
    position: absolute;
    left: -50%;
    top: 0;
}
.hero-positions-image2{
    position: absolute;
    left: -50%;
    top: 0;
}
.hero-positions-image3{
    position: absolute;
    left: -50%;
    top: 0;
}
.menu-card{ 
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    gap: 30px;
    top: 0;
    padding: 20px;
    left: -100%;
    min-height: 100%;
    background-color: var(--button-colo);
    z-index: 2;
    transition: all 1s;

    
}
.menu-card ul { 
    flex-direction: column;
 
}
.menu-card ul a{ 
    color: white;
}
.menu-card button{ 
    width: 100%;
    height: 64px;
    color: white;
   background-color: black;

    
}
.hamburger{
display: block;
}
.hamburger1{
display: flex;
flex-direction: column;
gap: 5px;
height: 40px;
width: 50px;
justify-content: center;

}
.hamburger2{
    width: 50px;
    height: 6px;
    background-color: var(--button-colo);
    border-radius: 20px;
   
}
.hero-card-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.hero-text-card{
    display: flex;
    flex-direction: column;
   min-height: 0vh;
    justify-content: center;
    gap: 70px;
}
.max-length{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
}
.hero-card-container-image{
    padding-top: 30px;
}
.hero-card-container-image1 img{
    width: 316px;
}
.hero-card-container-image small img{
    width: 164px;
    height: 163px;
    object-fit: cover;
    left: 0px;
}
.hero-card-container-image small {
    left: -20px;
}
.special-dishes-card h1{
    font-width: 700;
    font-size: 30px;

}
.special-dishes-card p{
    font-width: 400;
    font-size: .8rem;

}
.hero-text-card h1{
    font-width: 500;
    font-size: 30px;
 }
.welcome-special-dishes-card{
    display: flex;
   justify-content: center;
}
.special-position-card{
    display: none;
}
.experts-section-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.experts-section-card-sub1 h1{
    font-size: 30px;
}
.expert-chef img{
height: 450px;

}
.chef-position1{
    display: none;
    
}
.brain-position{
    display: none;
}
.chef-position2{
  display: none;
}
.happy-customer-card h1{
    font-size: 30px;
    color: var(--text-color);
    padding: 20px;
 }
 .form-card h1{
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
  .form-card form{
    display: flex;
     padding: 20px;
     flex-wrap: wrap;
     justify-content: center;
     background-color: white;
     border-radius: 20px;
     width: 80%;
     gap: 20px;
   }
   
.form-card{
  padding: 40px 0;  
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(assets/eatarybg.png);
  gap: 40px;
  border-radius: 30px;
  align-items: center;
  background-size: cover;
  position: relative;
  width: 100%;
  top: -100px;
  
}
footer{
    padding-top: 0px;
}
.footers-card1{
    justify-content: center;
    gap: 30px;

}
}